.bg-banner {
    background-image: url('https://i.ibb.co/kHzWBFT/bannar-png.jpg');
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 254, 254, 0.781);
    z-index: 1;
  }